# === Android / Gradle ===
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# === Android Studio ===
.idea/
.DS_Store

# === APKs y outputs ===
*.apk
*.aab
app/release/
output-metadata.json
baselineProfiles/

# === Keystore (no subir nunca a GitHub) ===
*.jks
*.keystore

# === Logs ===
*.log

# === Backend Spring Boot / Maven ===
target/
*.class
*.jar
*.war
*.ear

# === Firebase ===
google-services.json